In [1]:
import os

In [2]:
os.getcwd()

'/home/venki/Hub/Library/INSAID/01_Work/08-luigi/project-1'

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/home/venki/Hub/Library/INSAID/01_Work/08-luigi/project-1/data/train.csv')

/home/venki/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [6]:
df.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')

In [7]:
df.dtypes

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

In [8]:
df1 = pd.DataFrame()

In [9]:
df1['c1'] = ['a','b','c','a','b','c','a','b','c']

In [10]:
df1['c2'] = [1,2,3,1,2,3,1,2,3]

In [11]:
df1

  c1  c2
0  a   1
1  b   2
2  c   3
3  a   1
4  b   2
5  c   3
6  a   1
7  b   2
8  c   3

In [12]:
df2 = pd.get_dummies(df1)

In [13]:
df2

   c2  c1_a  c1_b  c1_c
0   1     1     0     0
1   2     0     1     0
2   3     0     0     1
3   1     1     0     0
4   2     0     1     0
5   3     0     0     1
6   1     1     0     0
7   2     0     1     0
8   3     0     0     1

In [14]:
df1

  c1  c2
0  a   1
1  b   2
2  c   3
3  a   1
4  b   2
5  c   3
6  a   1
7  b   2
8  c   3

In [16]:
df1['c2']=df1['c2'].astype('str')

In [17]:
df1.dtypes

c1    object
c2    object
dtype: object

In [18]:
pd.get_dummies(df1)

   c1_a  c1_b  c1_c  c2_1  c2_2  c2_3
0     1     0     0     1     0     0
1     0     1     0     0     1     0
2     0     0     1     0     0     1
3     1     0     0     1     0     0
4     0     1     0     0     1     0
5     0     0     1     0     0     1
6     1     0     0     1     0     0
7     0     1     0     0     1     0
8     0     0     1     0     0     1

In [20]:
a = pd.read_csv('/home/venki/Hub/Library/INSAID/01_Work/08-luigi/project-1/data/store.csv')

In [21]:
a.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [22]:
d = {
  "Store": 10,
  "DayOfWeek": 4,
  "Date": "2015-09-17",
  "Open": 1,
  "StateHoliday": 0,
  "SchoolHoliday": 0
}

In [23]:
d

{'Date': '2015-09-17',
 'DayOfWeek': 4,
 'Open': 1,
 'SchoolHoliday': 0,
 'StateHoliday': 0,
 'Store': 10}

In [28]:
b = pd.DataFrame.from_dict([d])

In [30]:
df_aggregated_to_predict = pd.merge(b, a, on='Store')

In [31]:
df_aggregated_to_predict.shape

(1, 15)

In [32]:
df_aggregated_to_predict

,Date,DayOfWeek,Open,SchoolHoliday,StateHoliday,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,2015-09-17,4,1,0,0,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN

In [1]:
import configparser

In [2]:
config = configparser.ConfigParser()

In [6]:
config.sections()

['bitbucket.org', 'topsecret.server.com']

In [5]:
config.read('example.ini')

['example.ini']

In [1]:
def main():
    print('hi')

In [3]:
if __name__ == "__main__":

SyntaxError: unexpected EOF while parsing (<ipython-input-3-dafdc845490d>, line 2)